        <form class="form-horizontal">
            <legend>Input Stats</legend>

            <!--Strength input-->
            <div class="form-group">
                <label for="str" class="col-md-1">STR: {{player.str}}</label>
                <div class="col-md-2">
                    <input ng-model="player.str" type="number" class="form-control" id="str" placeholder="10">
                </div>
            </div>

            <!--Dexerity input-->
            <div class="form-group">
                <label for="dex" class="col-md-1">DEX: {{player.dex}}</label>
                <div class="col-md-2">
                    <input ng-model="player.dex" type="number" class="form-control" id="dex" placeholder="10">
                </div>
            </div>

            <!--Constitution input-->
            <div class="form-group">
                <label for="con" class="col-md-1">CON: {{player.con}}</label>
                <div class="col-md-2">
                    <input ng-model="player.con" type="number" class="form-control" id="con" placeholder="10">
                </div>
            </div>

            <!--Intelligence input-->
            <div class="form-group">
                <label for="inte" class="col-md-1">INT: {{player.inte}}</label>
                <div class="col-md-2">
                    <input ng-model="player.inte" type="number" class="form-control" id="inte" placeholder="10">
                </div>
            </div>

            <!--Wisdom input-->
            <div class="form-group">
                <label for="wis" class="col-md-1">WIS: {{player.wis}}</label>
                <div class="col-md-2">
                    <input ng-model="player.wis" type="number" class="form-control" id="wis" placeholder="10">
                </div>
            </div>

            <!--Charisma input-->
            <div class="form-group">
                <label for="cha" class="col-md-1">CHA: {{player.cha}}</label>
                <div class="col-md-2">
                    <input ng-model="player.cha" type="number" class="form-control" id="cha" placeholder="10">
                </div>
            </div>

            <button ng-click="add(player)" class="btn-lg btn-danger">Commit Stats</button>
        </form>